body{
	width: 100%;
	font-family: Arial, Courier, sans-serif;
	margin: 0px;
	padding: 0;
	background-color: azure;
}

body .about{
	background-color: azure;
}


/************************************Reactive NavBar*****************************************/

header{
	position: absolute; /* or FIXED to keep it with scroll */
	top: 0;
	left: 0;
	padding: 0 50px;
	background: #262626;
	opacity: 0.9;
	width: 100%;
	box-sizing: border-box;
	/*margin-bottom: 1px;*/
}
header .logo a{
	float: left;
	line-height: 50px;
	color:#FF1493;
	border:3px double #FF1493;
	height: 50px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 20px;
	padding: 0 10px;
}
header .logo a:hover{
	color:white;
	border: 3px double #55ACEE;
}

header nav{
	float: right;
}
header nav ul{
	margin:0;
	padding: 0;
	display: flex;
}
header nav ul li{
	list-style: none;
}
header nav ul li a{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	/*justify-content: center;
	text-align: center;*/
	display: block;
	border-left: 1px solid #FF1493;
}
header nav ul li a:hover
/*header nav ul li a.active*/
{
	background: #FF1493;
	/* border-right: 3px solid #55ACEE; */
}

.menu-toggle{
	color:#fff;
	float: right;
	line-height: 50px;
	font-size:24px;
	cursor: pointer;
	display: none;
}
@media (max-width: 980px){
	header
	{
		padding: 0 20px;
	}
	.menu-toggle
	{
		display: block;
	}
	header nav
	{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #000;
		top: 50px;
		left:-100%;
		transition: 0.5s;
	}
	header nav.active
	{
		left: 0;
		float:left;
	}
	header nav ul
	{
		display: block;
		text-align: center;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgb(199,21,133);
	}
	section .hero{
		clear: left;
		align-items: left;
		display: absolute;
	}
}

/************************************Reactive NavBar end*****************************************/

/************************************Hero Image Start*****************************************/
.hero{
	color: white;
	width: 100%;
	height: 560px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(../Images/GirlPortrait.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	/*margin-top:1px;*/
}
.hero h1{
	font-family: serif, sans-serif;
	font-size: 3em;
	margin-bottom: 0px;
}
.hero h2{
	font-family: serif, sans-serif;
	font-style: italic;
}

.hero-inner .btn{
	flex:1 1 auto;
	transition: 0.5s;
	display: block;
	width: 200px;
	border: 3px solid black;
	border-radius: 50px;
	background-color: #FF1493;
	padding: 10px;
	margin: 30px auto 5px auto;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	margin-top: 50px;
	/*background-image: linear-gradient(to right, #FF1493 0%, coral 51%, #ff6e7f 100%)*/
}
.hero-inner .btn:hover{
	color: #000;
	background-color: lightblue;
	/*background-position: right center;*/
	/*background-image: linear-gradient(to left, #FF1493 25%, #bfe9ff 75%, #ff6e7f 100%);*/
}

#greeting{
	font-size: 20px;
}

/***********************************End of Hero Image******************************************/

/************************************About Hero Image Start*****************************************/
.aboutHero{
	color: azure;
	width: 100%;
	height: 520px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7)), url(../Images/adults-black-and-white-casual.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	/*margin-top:1px;*/
}
.aboutHero h1{
	font-family: arial,serif, sans-serif;
	font-size: 44px;
	margin-bottom: 0px;
	border: 5px double aqua;
}

#greeting{
	font-size: 20px;
}

/***********************************About End of Hero Image******************************************/

/************************************Contacts Hero Image Start*****************************************/
.contactHero{
	color: azure;
	width: 100%;
	height: 520px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url(../Images/black-friday-fashion-friends.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin-bottom: 10px;
}
.contactHero h1{
	font-family: arial,serif, sans-serif;
	font-size: 44px;
	margin-bottom: 0px;
	border: 5px double aqua;
}

#greeting{
	font-size: 20px;
}

/***********************************Contacts End of Hero Image******************************************/

/***********************************Products Columns******************************************/
#products{
	overflow: auto;
}
.column1, .column2, .column3{
	width: 32%;
	float:left;
	margin-top: 0.5%;
	/* display: inline-block; new addition */
	margin-left: 1%;
}
.column1{
	background-image: url(../Images/accessory-briefcase-buckle.jpg);
	height:400px;
	/* height: 640;
	width: 960; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* margin-right: 0.3% */
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column1:hover{
	/* width: 30%; */
	background-image: url(../Images/accessory-briefcase-buckle.jpg);
	-webkit-transform: rotate(2deg) scale(0.9);
	transform: rotate(2deg) scale(0.9);
}
.column2{
	background-image: url(../Images/bath-towels-bed-close-up.jpg);
	height:400px;
	/* height: 640;
	width: 960; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* margin-right: 0.3% */
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.column2:hover{
	/* width: 30%; */
	-webkit-transform: rotate(2deg) scale(0.9);
	transform: rotate(2deg) scale(0.9);
}
.column3{
	background-image: url(../Images/bed-bedroom-comfort.jpg);
	height:400px;
	/* height: 640;
	width: 960; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* margin-right: 0.3% */
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.column3:hover{
	-webkit-transform: rotate(2deg) scale(0.9);
	transform: rotate(2deg) scale(0.9);
}
#products .btn{
	flex:1 1 auto;
	transition: 0.5s;
	display: block;
	width: 120px;
	border: 3px solid black;
	border-radius: 50px;
	background-color: lightblue;
	padding: 10px;
	margin: 30px auto 5px auto;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	margin-top: 340px;
	text-align: center;
}
#products .btn:hover{
	color: #fff;
	background-color: #FF1493;
}

/***********************************Product Columns End******************************************/

/************************************Hero Image1 Start*****************************************/
.hero1{
	width: 100%;
	height: 25em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7)), url(../Images/adults-black-and-white-casual.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin-top:0.5%;
}

.hero1 h2{
	height: 300px;
	width: 400px;
	font-family: serif, sans-serif;
	font-style: italic;
	color: white;
	margin: 50px auto 0 auto;
}

.hero1 .btn{
	flex:1 1 auto;
	transition: 0.5s;
	display: block;
	width: 200px;
	border: 3px solid black;
	border-radius: 50px;
	background-color: #FF1493;
	padding: 10px;
	margin: 0 auto 50px auto;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	/*background-image: linear-gradient(to right, #FF1493 0%, coral 51%, #ff6e7f 100%)*/
}
.hero-inner1 .btn:hover{
	color: #000;
	background-color: lightblue;
	/*background-position: right center;*/
	/*background-image: linear-gradient(to left, #FF1493 25%, #bfe9ff 75%, #ff6e7f 100%);*/
}

/***********************************End of Hero Image1******************************************/


/* footer{
	clear: both;
}

.footer{
	background-color: black;
	height: 180px;
	margin-top: 0.5%;
	margin-bottom: 0;
}
.footer .copy{
	color:white;
	text-align: center;
	margin: 20px 20px;
}
.footer .socials{
	text-align: right;
	padding-right: 10px;
	display: block;
}
.footer .fa{
	text-align: center;
	font-size: 30px;
	width: 30px;
	text-decoration: none;
	border-radius: 50%;
	padding: 10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 20px 20px;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  margin: 20px 20px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  margin: 20px 20px;
} */

/***********************************End of Footer******************************************/

/***********************************Start To Top button******************************************/

#myBtn{
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
	background-color: aqua; /* Add a dark-grey background on hover */
	color: black;
  }

/***********************************End To Top button******************************************/

/***********************************About To Top button****************************************/

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: red;
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: aqua;
    color: #000;
}

/***********************************End About To Top button************************************/

/***********************************About Us Message*******************************************/
#aboutText{
	color: black;
	/* height: 150px; */
	width: 50%;
	font-family: serif, sans-serif, helvetica;
	font-size: 22px;
	/* font-style: italic; */
	margin: 50px auto 20px auto;
}

#changeText{
	font-size: 20px;
	color: darkblue;
	/* border: double black; */
	text-align: center center;
	/* height: 100px; */
	width: 50%;
	/* font-style: italic; */
	margin: 50px auto 20px auto;
}

/***********************************About Us Message End*******************************************/

/***********************************New Footer Begin*******************************************/

footer{
	position: auto;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 10px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span a{
	color:  #FF1493;
	text-decoration: none;
	border:3px double #FF1493;
	padding: 6px 12px;
}

.footer-distributed h3 span a:hover{
	color:white;
	border:3px double #55ACEE;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-links a:hover{
	color:  #55ACEE;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover{
	color:  white;
	text-decoration: underline;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	/* background-color:  #33383b;
	border-radius: 2px; */
 
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin: 10px;
	/* margin-bottom: 5px; */
}

.fa:hover {
    opacity: 0.7;
}
.footer-distributed .footer-icons a .fa-facebook {
  background-color: #3B5998;
  color: white;
  /* margin: 20px 20px; */
  padding: 8px 14px;
  border-radius: 50%;
}
.footer-distributed .footer-icons a .fa-twitter {
  background-color: #55ACEE;
  color: white;
  /* margin: 20px 20px; */
  padding: 8px 10px;
  border-radius: 50%;
}
.footer-distributed .footer-icons a .fa-linkedin {
  background-color: #007bb5;
  color: white;
  /* margin: 20px 20px; */
  padding: 8px 10px;
  border-radius: 50%;
}
 
 
@media (max-width: 920px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
/***********************************End New Footer Begin*******************************************/

/*********************************** Change text button on About page **********************************************/
.about button{
	display: block;
	width: auto;
	border: 3px solid black;
	border-radius: 50px;
	background-color: black;
	padding: 10px;
	margin: 30px auto 5px auto;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	/* margin-top: 50px; */
	/*background-image: linear-gradient(to right, #FF1493 0%, coral 51%, #ff6e7f 100%)*/
}
.about button:hover{
	color: #000;
	background-color: lightblue;
	/*background-position: right center;*/
	/*background-image: linear-gradient(to left, #FF1493 25%, #bfe9ff 75%, #ff6e7f 100%);*/
}



/*********************************** Change text button on About page End**********************************************/ 